

/* Google fonts for Logo */

@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

/* Goole fonts for sidebar links */
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

/* Google fonts for Title */
@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');

/* Google fonts for extra links */
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin-top: 54px;              /* Adjust this value based on the height of your navbar */
    background-color: #f1f1f1;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color:rgb(35, 34, 34);
    padding: 20px;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  }
  
  .logo {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Fascinate Inline", sans-serif;
    font-weight: 600;
    font-style: normal;
    width: 60%;
    margin: 0 auto;
    /* Gradient settings for logo text */
    background: linear-gradient(90deg, #e432e7, #a03ee7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin-right: 15px;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
    transition: transform 0.3s ease;
  }

  .nav-links a:hover {
    transform: translateZ(10px);
  }
  
  .hamburger {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }

    /* Left Sidebar */

  .left_sidebar {    
    width: 25vh;
    height: auto;
    position: absolute;
    z-index: 0;
    text-align: center;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s ease;
  }

  .left_sidebar a {

    padding: 16px;
    text-decoration: none;
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
    color: #f7f4f4;
    display: block;
    transition: 0.3s ease;
    border-bottom: 1px solid #9b9494;

  }

  .left_sidebar a:hover {
    transform: translateX(10px);
    color: white;
  }
  /* Right Sidebar */

  .right_sidebar {    
    width: 25vh;
    height: auto;
    position:absolute;
    z-index: -1;
    text-align: center;
    right: 0;
    background-color: #111;
    transition: 0.5s;    
    margin:8px 0;
    
  }

  #cam_box_title {
    color: white;
    font-size: 25px;    
    border-bottom: 1px solid #fff;
    padding: 10px 15px;   
  }

  .cam_box {
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;    
  }

  .grid_links {
    margin: 0 auto;
    color: #000;
    text-align: center;
    width: 50%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }

  .grid_links a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    border: 2px solid #e432e7;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    font-family: "Geo", sans-serif;
    font-weight: 400;
    
  }

  .grid_links a:hover {
    transform: translateY(-5px);
  }

.gridTitle {
    font-family: "Yuji Syuku", sans-serif;
    font-size: 30px;
    color: #000;
    width: 100%;
    background-image: linear-gradient(90deg, #898689, #e6e3e8);
    margin: 0;
}

 .wrapContainer {
    width: 50%;
    margin:0 auto;
 }

 .wrapContainer h1{
    
    margin: 0 auto;
    padding: 10px;
 }

 .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    margin: 15px auto;
    width: 100%;
}

.grid-container > a {
    text-decoration: none;
    color: black;
}

.grid-item {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    height: 200px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  margin: 15px auto;
  width: 100%;
}

.list-container > a {
  text-decoration: none;
  color: black;
}

.list-item {
  display:grid;
  align-items: center;
  width: 100%;
  height: 600px;
  overflow-y: auto;
  border: 1px solid #ccc;  
  font-size: 18px;
}

.header3 {
  padding: 10px;
  background-color: #b6b4b8;
  color: #090808;
}

.h3-link {
  text-decoration: none;
}


.grid-item:hover {
  transform: translateY(-5px);
}

#loadMore {
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(35, 34, 34);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-align: center;
    font-family: "Geo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#loadMore  a {
    text-decoration: none;
    color: white;    
}

#loadMore:hover  {
  transform: translateX(5px);
}

.list-container {
  height: auto;
}

.list-title {
  text-align: center;
}

.list-title h2 {
  color: #fff;
  background-color: #000;
  padding: 10px;
}


.list-item a {
  text-decoration: none;
  color: #0a0909;
  background-color: rgb(224, 221, 227);
  padding: 10px;
  border: 1px solid #000;
  width: 100%;
  margin: 1px 0;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

@media screen and (max-width: 1024px){
  
      .right_sidebar {
          width: 0;
      }
  
      .grid_links {
          display: none;
      }
  
      .grid-container {
          grid-template-columns: repeat(3, 1fr);
      }
  
      .wrapContainer {
          width: 90%;
      }
  
      .grid-item {
          height: 250px;
      }
  
      .list-container {
          grid-template-columns: repeat(2, 1fr);
      }  
  
      .gridTitle {
          
          font-size: 25px;

      }
  
      .wrapContainer h1 {
          font-size: 20px;
      }
  
      .nav-links {
          display: none;
      }
  
      .hamburger {
          display: block;
      }
  
      .nav-links.show {
          display: flex;
      }

      .navbar {text-align: center;}
  
      .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
  
      .left_sidebar {
          width: 0;
      }
  
      .left_sidebar.show {
          width: 100%;
          height: auto;
          position: absolute;
          z-index: 0;
          text-align: center;
          left: 0;
      }
  
      .left_sidebar a {
          font-size: 24px;
          padding: 8px;  
      }
  
      .cam_box {
          height: 150px;
      }
  
      .grid_links a {
          font-size: 18px;
      }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .wrapContainer {
        width: 60%;
    }
    #loadMore {
        width: 25vh;
    }
    .left_sidebar {
      margin: 6px 0;
    }

    .left_sidebar a {
        font-size: 16px;
        padding: 8px;  
    }

    .cam_box {
        height: 150px;
    }

    .grid_links a {
        font-size: 18px;
    }
}


/* media query for tablet */
@media screen and (max-width: 992px) {

  #loadMore {
    width: 30%;
  }

  .wrapContainer {
    width: 100%;
    text-align: center;
    padding-top: 25px;
  }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;        
    }

    .left_sidebar {
      width: 0;
    }

    .left_sidebar.show {
      width: 100%;
      height: auto;
      position: absolute;
      z-index: 0;
      text-align: center;
      left: 0;
    }

    .navbar {text-align: center;}

    .nav-links.show {
      display: flex;
    }

    .hamburger {
      display: block;
    }

    .nav-links {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.9);
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 100vh;
      width: 100%;
      display: none;
    }

    .right_sidebar{
      width: 0;
  }

  .grid_links {
      display: none;
  } 

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 600px) {

    .grid-container {
        grid-template-columns: 1fr;
        width: 90%;
    }

    .logo {
        font-size: 1.5rem;
    }
}


  .footer {
    background-color: black;
    color: white;
    padding: 40px 20px 20px;
    margin-top: 40px;
}

.footer-content {

    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    background-color: #ccc;

}

.footer-section h4 {
    color: white;
    font-size: 18px;
    margin: 15px auto;
    position: relative;

}

.footer-section h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 30px;
    height: 2px;
    background-color: red;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    text-decoration: none;
    color: white;
}

.footer-bottom {
    padding: 10px 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


.night-mode {
  background-color: #121212;
  color: #f0f0f0;
}

.toggleMode {

    padding: 20px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

.toggleMode:hover {
    background-color: #0056b3;
}
